name: Canary

on:
  push:
    branches:
      - rust
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "wasm"

      - name: Set version
        run: |
          SHA=$(git rev-parse --short HEAD)
          VERSION="0.0.0-canary.$SHA"
          echo "ver: $VERSION"
          sed -i "s/^version = \"0.0.0-dev\"/version = \"$VERSION\"/" Cargo.toml

      - name: Install Trunk
        uses: jetli/trunk-action@v0.5.1
        with:
          version: "latest"

      - name: Build with Trunk
        run: |
          export PATH=$PATH:$HOME/.cargo/bin
          cd crates/project_graph
          trunk build --release

      # - name: Upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: project-graph-wasm
      #     path: ./crates/project_graph/dist

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
